/* CSS for Quiz 1 - Part 1 */

/* For this part of the quiz, build the CSS to render the HTML to match
the screenshot provided. */

header{
    background:rgb(240,50,15);
    font-family:"arial";
    font-style:bold;
    border:10px solid rgb(240,50,15);
}

body{
    border:20px solid lavender;
    background:lavender;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    
}

main{

    border-style:dotted;
    border-color:blue;
    background-color: white;
    padding-top:20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family:sans-serif;
}

footer{
    text-align:right;
    font-style:italic;
    background-color: lavender;

}

html{
    background-color: blue;
    border-left:30px solid blue;
    border-top:30px solid blue;
    border-right:30px solid blue;
}

h1{
    font-weight:bolder;
}

h2{
    font-weight:bold;
}