div{
    width: 300px;
    height: 300px;
}

#square1{
    background-color: red;
}

#square2{
    background-color:black;
}

button{
    width: 200px;
    vertical-align: middle;
    margin: 10px auto;
    display: block;
}