.row{
    margin: auto;
    width:564px;
    height:564px;
    background-color: grey;
}

.blocks{
	background-color: white;
	border:black 5px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;

}

#block1 , #block15{
    background-color: red;
    background-image: url("../media/blank.png");
}

#block2 , #block8{
    background-color: blue;
    background-image: url("../media/blank.png");
}

#block3 , #block12{
    background-color: green;
    background-image: url("../media/blank.png");
}

#block4 , #block14{
    background-color: purple;
    background-image: url("../media/blank.png");
}

#block5 , #block6{
    background-color: chartreuse;
    background-image: url("../media/blank.png");
}

#block7 , #block13{
    background-color: yellow;
    background-image: url("../media/blank.png");
}

#block9 , #block10{
    background-color: cornflowerblue;
    background-image: url("../media/blank.png");
}

#block11 , #block16{
    background-color: aqua;
    background-image: url("../media/blank.png");
}

